
.img1 {
    align-items: center;
    width:50%;
    height:50%;
}

.t1 {
    
    top: 0px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 28px;
    color: rgb(0, 0, 0);
    height:30px;
}

.t2 {
    position: relative;
    top: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;
    font-weight: bold;
    font-size: 42px;
    height:45px;
}
